
/*estilo para la introduccion bienvenidos a CISCO*/
#content .content-wrap .container-row{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: auto;
}


#content .content-wrap .container-row .container-text{
	width: 70%;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}


#content .content-wrap .container-row .container-image{
	width: 30%;
}

#content .content-wrap .container-row p{
	width: 80%;
	font-size: 16px;
	
}




/*estilo para encabezados*/

#content .content-wrap h4{
	width: 65%;
}




#content .content-wrap h2{
	width: 65%;
}

/*estilo para nuestra mision*/
#content .content-wrap .entry-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: auto;
}

#content .content-wrap .entry-content .container-row{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 20px;
}

#content .content-wrap .entry-content .container-row .container-text{
	width: 80%;
}

#content .content-wrap .entry-content .container-row .container-image{
	width: 10%;
}

#content .content-wrap .entry-content .container-row .container-image img{
	padding: 5px;
}

#content .content-wrap .entry-content .container-row .container-text p{
	width: 90%;
}


/*estilo para lo que puedes esperar*/

#content .content-wrap .container-extra p{
	width: 70%;
	font-size: 16px ;
}

/*estilo para la lista */
#content .content-wrap li{
    width: 65%;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: auto;
}

@media (max-width:900px) {

	#content .content-wrap .container-row {
		width: 100%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	/*estilos para nuestra mision*/
	#content .content-wrap .entry-content .container-row{

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 20px;
	}

	#content .content-wrap .entry-content .container-row .container-image{
		width: 30%;
		margin-bottom: 20px;
	}

	#content .content-wrap .entry-content .container-row .container-text{
		width: 80%;
	}

	
}

.textos-pag {
	text-align: justify;
}

.entry-content{
	margin-top: 30px !important;
}





